/* ******************************************************************
*********************************************************************
 Base Styles
********************************************************************* 
********************************************************************* */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300&display=swap");

/* $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ SEE/ME Base Styles $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ */

.scrollDist {
  width: 100%;
  height: 200%;
  max-width: 100%;
  max-height: 200%;
  overflow: hidden;
  position: adsolute;
}

#mountains {
  margin: 0;
  padding: 0;
  position: fixed;
  width: 1200px;
  height: 100%;
  overflow: hidden;
}

.svg-container {
  display: block;
  margin: auto;
  position: absolute;
  height: auto;
  overflow: hidden;
  width: 100%;
}

text.lrgtext {
  position: absolute;
  font-family: "Montserrat", sans-serif;
  font-size: 125px;
  z-index: 15;
}


#me {
  text-shadow: 0px 2px 2px #26466e;
  z-index: 16;
}

#me:hover {
  cursor: pointer;
  text-shadow: 0px 5px 5px #26466e;
}

#see {
  fill: #fff;
}

#me {
  position: absolute;
  fill: #162a43;

}

#meshaker {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 125px;
  transform: translate(0px, 12vh);
  opacity: 0;
}

a {
  text-decoration: none;
}

div {
  position: absolute;
}

/* ##############Suggested improvement to correctly handle positioning of modalbox and form */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

html,
body {
  overflow: visible;
  /* Ensure scrolling is not blocked */
  margin: 0;
}

/* ************************* Arrows animated SECTION*************************** */

.scroll-arrow {
  position: absolute;
  left: 49.33%;
  top: 23vh;
  display: inline-block;
  width: 22px;
  height: 22px;
  border-bottom: 4px solid #fff;
  border-right: 4px solid #fff;
  animation: fade_move_down 3s ease-in-out infinite;
}

.scroll-arrow:hover {
  cursor: pointer;
}

@keyframes fade_move_down {
  0% {
    transform: translate(0, -20px) rotate(45deg);
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    transform: translate(0, 20px) rotate(45deg);
    opacity: 0;
  }
}

/* ************************* End of Arrows animated SECTION*************************** */

/* ############################ Navbar base styles ################################*/

nav {
  z-index: 14;
  height: auto;
  width: auto;
  overflow: visible;
}

ul {
  padding: 20px 0px 2px 0px;
  width: 100%;
}

nav ul li a {
  display: inline-block;
  text-transform: uppercase;
  font-size: 13px;
  margin: 1px 30px 1px 5px;
  line-height: 1.2;
  letter-spacing: 1.1px;
}

.sticky {
  background-color: #ffffff;
  opacity: 1;
  top: 0px;
}

a.nav-link {
  color: #6e6f79;
  transform: scale(1);
  font-family: "Open Sans";
  font-size: 16px;
  transition: all 0.3s;
  background-color: transparent;
  opacity: 1;
}

a.nav-link:hover {
  color: #162a43;
  transform: scale(1.15);
  /* display: block;  */
}

a.nav-link.active {
  color: #162a43;
  transform: scale(1.3);
}

.dropdown-menu {
  position: absolute;
  border-style: groove;
  font-size: 14px;
  background-color: transparent;
  text-align: left;
  inline-size: auto;
  border-width: auto;
  border-radius: 5px;
  border-right: none;
  border-left: none;
}

a.dropdown-item {
  color: #6e6f79;
  font-size: 0.9em;
  padding: 2px 0px 1px 0px;
}

a.dropdown-item:hover {
  color: #162a43;
  transform: scale(1.1);
  background-color: transparent !important;
}

a.dropdown-item:active {
  transform: scale(1.2);
  color: #162a43;
  background-color: transparent !important;
}

.dropdown .dropdown-menu .navbar-nav {
  --bs-nav-link-hover-colour: #162a43;
}

ul.navbar-nav {
  position: absolute;
  align-self: center;
}

.navbar {
  --bs-navbar-active-color: #162a43;
  --bs-navbar-brand-color: #162a43;
  --bs-navbar-brand-hover-color: #162a43;
  position: fixed;
  top: 0px;
  max-height: 50px;
  width: 100%;
  padding-top: 30px;
  background: none;
  overflow: visible;
  -webkit-transition: all 1s;
  transition: all 1s;
  opacity: 0;
  top: -700px;
  padding-bottom: 20px;
}

/* Burger Icon Styling */
navbar-toggler left {
  position: absolute;
  left: 1rem;
  top: 1rem;
  border: none;
  font-size: 1rem;
  background-color: transparent;
  border: none;
  outline: none;
}

.sticky {
  /* background-color: #ffffff; */
  opacity: 1;
  top: 0px;
}

.container-fluid#navbar {
  position: relative;
  width: 100%;
  max-width: 800px;
  align-self: center;
  margin: 0 auto;
  padding: 10px 20px 5px 5px;
  box-sizing: border-box;
}

/* div#navbar.container-fluid {
  position: relative;
  width: 100%;
  max-width: 800px;
  align-self: center;
  margin: 0 auto;
  padding: 10px 20px 5px 5px;
  box-sizing: border-box;
  top: 0;
  left: 0;
  transition: all 0.3s ease; Smooth transition when repositioning
} */

/* .navbar.navbar-expand-lg.navbar-light.bg-transparent.sticky#topNav {
  padding-top: 30px !important;
  padding-bottom: 20px !important;
} */

.navbar.navbar-expand-lg.navbar-light.bg-transparent.sticky#topNav {
  padding: 0px 10px;
  margin: 0px;
}

/*###################### End of Navbar Base Styles ############################ */

/* Thumbnails Base Styles  ###################################################### */

:root {
  --thumb-width: 300px;
  --thumb-height: 300px;
}

.mountains {
  position: absolute;
  width: 2000px;
  height: auto;
}

.container-fluid#thumbnails {
  position: absolute;
}

.thumbnails {
  position: absolute;
  height: auto;
  width: 100%;
  z-index: 2;
}

.thumbs {
  display: block;
  text-decoration: none;
  /* position: relative; */
}

.thumbShape {
  position: absolute;
  width: var(--thumb-width);
  height: var(--thumb-height);
  margin: 12.5px;
  overflow: hidden;
  border-radius: 24%;
  transition: background-image 1.8s ease-in-out;
  opacity: 0;
}

.container-fluid#thumbnails .thumbShape {
  opacity: 1; /* Make thumbnails visible after loading */
}

#software img,
#photography img,
#motion img,
#diy img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

#software:hover .overlay,
#photography:hover .overlay,
#motion:hover .overlay,
#diy:hover .overlay {
  opacity: 0.7;
}

#software,
#photography,
#motion,
#diy {
  background-size: cover;
  background-position: center;
  filter: drop-shadow(0 0 0.1rem #162a43);
  transform: scale(1);
}

#software:hover,
#photography:hover,
#motion:hover,
#diy:hover {
  /* transform: scale(1.004); */
  cursor: pointer;
  filter: drop-shadow(0 0 0.75rem #162a43);
}

#software .overlay,
#photography .overlay,
#motion .overlay,
#diy .overlay {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0;
  transition: opacity 0.6s ease;
  background-size: contain;
}

#software .overlay {
  background-image: url("assets/binary-min.png");
}

#photography .overlay {
  background-image: url("assets/photography-min.png");
}

#motion .overlay {
  background-image: url("assets/motion-min.png");
}

#diy .overlay {
  background-image: url("assets/diy-min.png");
}

/*###################### End of Thumbnail Base Styles ############################ */

/* Modal Statement/Contact Base Styles ####################################### */

.modalbox .box {
  position: absolute;
  /* Ensure it is positioned absolutely within its container */
  transition: transform 0.3s, width 0.3s, height 0.3s;
  /* Smooth transition for position and size changes */
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  background-color: rgba(0, 0, 0, 0.6);
  margin: auto;
  min-width: 210px;
  padding: 45px;
  width: 500px;
  height: 500px;
  overflow: hidden;
  border-radius: 12%;

  /* Ensure it appears above other elements */
  color: #fff;
  /* Ensure text is visible */
}

.modalbox .title {
  border-bottom: 1px solid #ccc;
  font-size: 22px;
  letter-spacing: 0.1em;
  margin: 0;
  padding: 0 0 10px;
  color: #fff;
}

.modalbox .content {
  display: block;

  font-size: 18px;
  line-height: 22px;
  padding: 10px 40px 40px 0px;
  text-align: left;
  color: #fff;
}

.modalbox .close {
  color: #fff;
  display: block;
  float: right;
  font-size: 17px;
  text-decoration: bold;
}

.close:hover {
  cursor: pointer;
}

.modalbox {
  position: absolute;
  display: none;
  z-index: 4;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  color: #333333;
}

.modalbox:target {
  display: block;
  outline: none;
}

.link-modal {
  width: 90%;
  text-align: center;
  margin: 0 auto;
  padding: 1rem;
  background: #ffffff;
  text-decoration: none;
  color: #162a43;
  display: inline-block;
  transition: all 0.4s ease-in-out;
  transform: translateX(0px);
}

.link-modal:hover {
  transform: translateX(1.5rem);
  color: #6e6f79;
  cursor: pointer;
}

.hidden {
  display: none;
}

.sig {
  position: relative;
  height: 12rem;
  width: auto;
}

.sig:hover {
  cursor: pointer;
}

/*###################### End of Modal Statement/Contact Base Styles ############################ */

/*Begining of Base Styles Contact Form ##################################################################### */

.formDiv#contactForm {
  position: absolute;
  z-index: 6;
  /* top: 50%;
  right: 50%;
  transform: translate(50%, -50%); */

  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: medium;
  /* max-width: 400px;
  min-width: 270px; */
  width: 300px;
  /* margin: 50px auto; */
  padding: 10px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 12%;
  /* border-radius: 15px; */
  background-color: rgba(208, 205, 205, 0.4);
  backdrop-filter: blur(10px);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.9);
  opacity: 1;
}

.formTitle {
  /* width: 100%; */
  padding: 0px;
}

label {
  display: block;
  margin: 10px;
  color: #fff;
}

.closeForm {
  color: #fff;
  display: block;
  float: right;
  font-size: 17px;
  text-decoration: bold;
}

textarea#message {
  overflow: auto;
}

textarea {
  width: 95%;
  /* height: 10%; */
  padding: 2px;
  border: none;
  /* border-radius: 4px; */
  background-color: rgba(251, 248, 248, 0.5);
  color: #07070f;
}

input[type="text"],
textarea {
  width: 95%;
  padding: 2px;
  border: none;
  /* border-radius: 4px; */
  background-color: rgba(251, 248, 248, 0.5);
  color: #07070f;
}

#formButton {
  transition: background-color 0.3s ease;
  align-items: center;
  appearance: none;
  background-color: #3b3b3b;
  background-image: linear-gradient(1deg, #49494a, #949595 99%);
  background-size: calc(100% + 20px) calc(100% + 20px);
  border-radius: 50px;
  border-width: 0;
  box-shadow: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  height: auto;
  justify-content: center;
  line-height: 1.5;
  padding: 6px 20px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.2s, background-position 0.2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
}

#formButton:hover {
  background-position: -20px -20px;
}

#formButton:focus:not(:active) {
  box-shadow: rgba(29, 29, 30, 0.25) 0 0 0 0.125em;
}

#formButton:hover {
  background-color: rgba(222, 240, 209, 0.5);
  cursor: pointer;
}

.error-message {
  color: rgb(173, 83, 10);
  font-size: 14px;
  margin-top: 5px;
}

/*##################################  END of Base Styles Contact Form ###################################*/

@media (max-width: 319.99px){

  .thumbShape {
    width: calc(var(--thumb-width)* 0.4);
    height: calc(var(--thumb-height)* 0.4);
  }

  
  #software .overlay,
  #photography .overlay,
  #motion .overlay,
  #diy .overlay {
    opacity: 0.5;
  }


  .modalbox .box {
    width: 90%;
    height: auto;
    padding: 4% 6%;
  }

  .modalbox .title {
    font-size: 17px;
  }

  .modalbox .content {
    font-size: 15px;
    line-height: 16px;
  }

  .sig {
    height: 5rem;
  }
  

}



@media (min-width: 320px) {

  .scroll-arrow {
    top: 15%;
    width: 18px;
    height: 18px;
    border-bottom: 3px solid #fff;
    border-right: 3px solid #fff;
  }


  .thumbShape {
    width: calc(var(--thumb-width)* 0.5);
    height: calc(var(--thumb-height)* 0.5);
  }


  #software .overlay,
  #photography .overlay,
  #motion .overlay,
  #diy .overlay {
    opacity: 0.5;
  }

  /* Positioning of navbar */
  .navbar.navbar-expand-lg.navbar-light.bg-transparent.sticky#topNav {
    padding: 10px 10px;
    margin: 0px;
  }


  .navbar-collapse {
    display: flex;
    flex-direction: column;
  }

  .navbar-nav .dropdown-menu {
    position: absolute;
    top: 0;
    left: calc(100% + 124px);
    background-color: #fff;
    padding: 0.2rem;
    min-width: max-content;
    min-width: 265px;
    max-width: 325px;
    flex-wrap: wrap;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  }

  .dropdown-menu:hover {
    display: flex;
    flex-direction: row;
  }

  /* Apply relative positioning to the nav-item to use as reference */
  .navbar-nav .nav-item.dropdown {
    position: relative;
  }

  /* Style individual dropdown items */
  .dropdown-item {
    flex: 1 1 auto;
    text-align: left;
    padding: 0.5rem 2rem;
  }
  

  .modalbox .box {
    width: 90%;
    height: auto;
    padding: 4% 6%;
  }

  .modalbox .title {
    font-size: 17px;
  }

  .modalbox .content {
    font-size: 15px;
    line-height: 16px;
  }

  .sig {
    height: 5.5rem;
  }

}




@media (min-width: 399.99px) {

  .scroll-arrow {
    top: 18%;

  }

  .thumbShape {
    width: calc(var(--thumb-width)* 0.6);
    height: calc(var(--thumb-height)* 0.6);
  }

  text.lrgtext {
    font-size: 150px;
  }

  .modalbox .box {
    width: 90%;
    height: auto;
    padding: 4% 6%;
  }

  .modalbox .title {
    font-size: 17px;
  }

  .modalbox .content {
    font-size: 15px;
    line-height: 16px;
  }

  .sig {
    height: 5.5rem;
  }

}

@media (min-width: 499.99px) {

  .scroll-arrow {
    top: 20%;
    width: 20px;
    height: 20px;
    border-bottom: 4px solid #fff;
    border-right: 4px solid #fff;
  }

  .thumbShape {
    width: calc(var(--thumb-width)* 0.75);
    height: calc(var(--thumb-height)* 0.75);
  }
/* SEE & ME text */
  text.lrgtext {
    font-size: 150px;
  }
/*  */

/* modalbox message to reader */
  .modalbox .box {
    width: 90%;
    height: auto;
    padding: 4% 6%;
  }

  .modalbox .title {
    font-size: 22px;
  }

  .modalbox .content {
    font-size: 18px;
    line-height: 18px;
  }

  p.allTheBest{
    margin-top: 50px;
    
  }

  .sig {
    margin-top: 25px;
    height: 9.5rem;
  }

}

/* javascript styling also */
  /* function updateEndTopY() {
  if (window.matchMedia("(orientation: landscape) and (max-width: 991.98px)").matches) {
      endTopY = window.innerHeight * 1.275; // Adjust multiplier for this condition
  } else {
      endTopY = window.innerHeight * 1.325; // Default multiplier
  }
  return endTopY; */


@media (min-width: 992px) {

  .scroll-arrow {
    top: 30%;
    width: 30px;
    height: 30px;
    border-bottom: 5px solid #fff;
    border-right: 5px solid #fff;
  }


  .thumbShape {
    width: calc(var(--thumb-width)* 1.1);
    height: calc(var(--thumb-height)* 1.1);
  }




  #software .overlay,
  #photography .overlay,
  #motion .overlay,
  #diy .overlay {
    opacity: 0;
  }

}



/* @media (max-width: 991.98px) and (orientation: landscape) 
and (any-pointer: coarse) and (any-hover: none) and 
(max-height: 600px){
  .thumbShape {
    width: calc(var(--thumb-width)* 0.32);
    height: calc(var(--thumb-height)* 0.32);
  }

  .navbar.navbar-expand-lg.navbar-light.bg-transparent.sticky#topNav {
    padding: 10px 10px;
    margin: 0px;
  }

} */

/* 
@media (max-height: 320px) and (orientation: landscape) 
and (any-pointer: coarse) and (any-hover: none) and 
(max-height: 600px){
  .thumbShape {
    width: calc(var(--thumb-width)* 0.32);
    height: calc(var(--thumb-height)* 0.32);
  }

  .navbar.navbar-expand-lg.navbar-light.bg-transparent.sticky#topNav {
    padding: 10px 10px;
    margin: 0px;
  }
  
  



} */

/* @media (orientation: landscape) and (max-width: 991.98px) 
and (max-height: 800px) {
  .scrollDist {
    min-height: 620px;
  } */

@media (orientation: landscape) and (any-pointer: coarse) and 
(any-hover: none) and (max-width: 991.98px) and (max-height: 800px) and
  (aspect-ratio: 16/9),
  (aspect-ratio: 18/9),
  (aspect-ratio: 19/9),
  (aspect-ratio: 19.5/9),
  (aspect-ratio: 20/9),
  (aspect-ratio: 21/9),
  (aspect-ratio: 22/9)
 {


  .scroll-arrow {
    top: 30%;
    width: 18px;
    height: 18px;
    border-bottom: 3px solid #fff;
    border-right: 3px solid #fff;
  }

  .thumbShape {
    width: calc(var(--thumb-width)* 0.3);
    height: calc(var(--thumb-height)* 0.5);
  }

}