/* body {
	display: grid;
	place-content: center;
	height: 100vh;
	background: #222;
	margin: 0;
  } */
  
  .container1 {
	/* --size: min(80vmin, 300px);
	position: relative;
	width: var(--size);
	height: var(--size); */
	
  }
  /* .container1 .textOption{
	tex
  } */
  
  .container1:hover .textOption{
	/* text-align: center; */
	
	font-size:larger;
	color:#fff; 
	position: absolute;
  bottom: 18px;
  left: 100px;
  }
  
  img {
	clip-path: url(#squircleClip);
	width: 100%;
	height: 100%;
	object-fit: cover;
  }

  img:hover{
	cursor: pointer;
  }
 
  
 
  
  .border {
	position: absolute;
	inset: 0;
	clip-path: url(#squircleClip);
	scale: 1.05;
	opacity: 0;
	background: #6e6f79;
	box-shadow:
	  inset 10px 10px 20px #424569,
	  inset -10px -10px 20px #162a43;
	border-radius: calc(var(--size) / 6);
	transition: 0.3s cubic-bezier(.51,.61,0,2.3);
	
  }
  
  .container1:hover .border {
	scale: 1.07;
	opacity: 1;
	cursor: pointer;
	
  }