/* broke the animation today
need to weed out the bootstrap from this file... that'll mainly involved looking at the 
main-nav styling remove all that isn't required and styling for the differing sizes after that
also the x-postion of ME/SEE and arrow need unifying so can be stayled on each media query  */

/* Text SEE/ME */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');
text {
  font-family: 'Montserrat', sans-serif;
}
.lrgtext {
  position:relative;
  font-size:99px;
  transform: translate(27vw, 25vh);
}
#dark {
  transform: translate(28vw, 25vh);
}
div {
  position:absolute;
} 


/* Arrows animated SECTION*************************** */
.scroll-arrow {
	position: absolute;
	left: 49.33%; 
	display:inline-block;
	width: 22px;
	height: 22px;
	top: 30vh;
  border-bottom: 4px solid #fff;
	border-right: 4px solid #fff;
  animation: fade_move_down 3s ease-in-out infinite;
}

@keyframes fade_move_down {
	0% {
   transform:translate(0, -20px) rotate(45deg);
   opacity: 0;
   }
	50% {
   opacity: 1;
   }
	100% {
   transform:translate(0, 20px) rotate(45deg);
   opacity: 0;
   }
   }
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300");

/* Base Styles
********************************************************************* */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');


 


*/
html {
	font-size: 62.5%;
}
body {
	font-size: 1.5em;
	line-height: 1.6;
	font-weight: 500;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	color: #162a43;
}
/* Grid
********************************************************************* */  
.container {
	position: relative;
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
	padding: 0 20px;
	box-sizing: border-box;
}

/* Links
********************************************************************* */
nav ul a {
	color: #162a43;
}
nav ul a:hover {
	color: #6e6f79;
}

.main_nav {
	position: fixed;
	top: 0px;
	max-height: 50px;
	z-index: 999;
	width: 100%;
	padding-top: 17px;
	background: none;
	overflow: hidden;
	-webkit-transition: all 0.3s;
	transition: all 0.8s;
	opacity: 0;
	top: -700px;
	padding-bottom: 6px;
}


.sticky {
	background-color: #ffffff;
	opacity: 1;
	top: 0px;
}
nav {
	width: 100%;
	margin-top: 5px;
}

@media only screen and (max-width: 766px) {
nav {
	width: 100%;
}
}
nav ul {
	list-style: none;
	overflow: hidden;
	text-align: center;
}

@media only screen and (max-width: 766px) {
nav ul {
	padding-top: 0px;
	margin-bottom: 22px;
	text-align: center;
	width: 100%;
}
}
nav ul li {
	display: inline-block;
	margin-left: 35px;
	line-height: 1.5;
	letter-spacing: 1px;



nav ul li {
	width: 100%;
	padding: 7px 0;
	margin: 0;
}
nav ul li:first-child {
	margin-top: 70px;
}
}
nav ul a {
	text-transform: uppercase;
	font-size: 12px;
	text-decoration: none;
}










/* Footer Section
********************************************************************* */


/* Lists
********************************************************************* */
/* ul {
	list-style: circle inside;
} */
ol {
	list-style: decimal inside;
}
ol, ul {
	padding-left: 0;
	margin-top: 0;
}
/* ul ul, ul ol, ol ol, ol ul {
	margin: 1.5rem 0 1.5rem 3rem;
	font-size: 90%;
} */
li {
	margin-bottom: 1rem;
}
