html {
  padding: 26px;
}

body {
  margin: auto;
  max-width: 690px;
  border: 8px solid whitesmoke;
}

h1, h2 {
    font-size: 22.5px;
    text-align: center;
}

img {
    margin: auto;
    display: block;
    width: 526px;
}

div {
  margin: 69px;
  text-align: justify;
}

center {
  margin: 26px;
}

button {
  font-size: 13px;
  min-width: 269px;
  padding: 8px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 13px;
  border-style: ridge;
  background: #ffeb00e0;
}